.board-write-container{
	box-sizing: border-box;
	/*box-sizing: content-box;*/
	padding: 0;
	margin: 0;
}

.board-write-container > header{
	margin: 4vh auto;
}

.board-write-container > main {
	height: 70vh ;

	& section {
		height: 100%;
	}
}


.board-write-container .write-form {
	border-top: 2px solid black;
	width: 80% auto;
	height: 100%;

}

.write-form {
	white-space: nowrap;
}

.write-form dl{
	height: 4rem;
}

.write-form dt {
	font-size: 1.4rem;
	font-weight: bold;
	font-family: sans-serif;
}

.write-form dt {
	padding-right: 5rem;
	width: 100px;
	text-align: right;
}

.write-form > .title dd,
.write-form > .title dt,
.write-form > .author dd,
.write-form > .author dt,
.write-form > .content dt,
.write-form > .content dd{
	display: inline-block;
}


.write-form > .author {
	border-top: 1px dashed gray;
	border-bottom: 1px dashed grey;
}

.write-form > .content {
	height: 30vh;
}

.write-form > .content > dl {
	height: 100%;
	margin: 3rem auto;
	border-bottom: 2px solid black;
}



.write-form .submit {
	display: flex;
	margin-top: 2rem;
	flex-direction: row-reverse;
}

.write-form .submit > .button-position {
	width: 600px;
}
