.page-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;

	/*border: solid 3px blue;*/
}

.page-wrapper > header > h1 {
	margin-top: 0;
}

.page-wrapper header {
    height: 10%;
}

.page-wrapper main {
    height: 80%;
    width: 100%;

}

.page-wrapper footer {
    height: 5%;
}

/* Board내의 board, serachbar, pagination ratio START*/
.board-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;

	margin: 0 auto;

	/*border: solid 3px red;*/
}

.board-wrapper > .board {
    flex: 8 8 0;
}

.board-wrapper > .searchbar {
    flex: 1 1 0;
}

.board-wrapper > .pagination {
    flex: 1 1 0;
}
/* END */

.searchbar-wrapper {
    margin: 2rem 0;
}

.pagination-wrapper {
	margin: auto;
}
